{% extends 'base.html' %}

{% block title %}Emailr - Home{% endblock %}

{% block content %}
<style type="text/css">
.active {
	background-color: #0fb634;
}
</style>
<div class="hero-unit" style="background-color: whiteSmoke;" >

    <div class="container-fluid">
      <div class="row-fluid">
         <div class="span4">
            <form class="form-search">
               <input type="text" class="input-medium search-query">
               <button type="submit" class="btn">Search</button>
            </form>
             <ul class="nav nav-list">
               <li class="nav-header">Emailrs</li>
               <li id="jason" class="inactive"><a href="javascript:void(0)">
                  <table>
                     <tr>
                        <td><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/48782_1063440122_737511809_q.jpg" /></td>
                        <td width="90%">Emailrs sending double?</td>
                     </tr>
                  </table>
               </a></li>
               <li id="joshua" class="inactive"><a href="javascript:void(0)">
                  <table>
                     <tr>
                        <td><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/195340_1307190045_861856258_q.jpg" /></td>
                        <td width="90%">Pull Request</td>
                     </tr>
                  </table>
               </a></li>
               <li id="gary" class="inactive"><a href="javascript:void(0)">
                  <table>
                     <tr>
                        <td><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/49550_1526515316_4063_q.jpg" /></td>
                        <td width="90%">Party Planning for Friday</td>
                     </tr>
                  </table>
               </a></li>
               <li id="stefan" class="inactive"><a href="javascript:void(0)">
                  <table>
                     <tr>
                        <td><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/186355_693468495_1222752505_q.jpg" /></td>
                        <td width="90%">CIS 121 Homework 2 Solutions</td>
                     </tr>
                  </table>
               </a></li>
             </ul>

         </div>
         
         <div class="span8">
         <ul class="nav nav-list">
               <li style="background-color:#0fb634; color:white; margin-left:-15px; margin-right:-15px; padding-left:15px;">
                  <h3>Stefan Zhelyazkov</h3>
               </li>
               <li style="font-size:14px; line-height:28px; padding-top:20px; padding-left:30px; padding-right:30px;">
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                  <br /><br \>
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
               </li>
               <li>
               <hr />
                  <ul class="nav nav-pills">
                     <li id="comment" class="inactive"><a href="#">Comment</a></li>
                     <li id="star" class="inactive"><a href="#"><img src="/static/star.png" id="starImg" style="padding-right:10px; "/>Star</a></li>
                  </ul>
               <textarea rows="3" class="input-xxlarge"></textarea>
               <button type="submit" class="btn btn-primary" style="height:70px;">Send</button>
               <input type="filepicker-dragdrop" />
               </li>
             </ul>
         </div>
      </div>
    </div>


   <script>
      $('.inactive').click(function() {
         $(".active").removeClass("active").addClass("inactive");
         $("#"+this.id).removeClass("inactive").addClass("active");
         return false;
      });
      
      $("#star").click(function() {
         $("#starImg").attr("src", "/static/star1.png");
      });
   </script>
</div>
      
{% endblock %}
