{% extends 'base.html' %}

{% block title %}Emailr - Social Email{% endblock %}

{% block content %}
      <div class="hero-unit" style="background-color: whiteSmoke;">
        <h1>The social network you already have</h1>
        <br/>
        <p>Emailr helps you share stories, links, images and more with your friends through email - the only social network you've ever needed.</p>
		<div>        
			<a class="btn btn-large" style="padding:15px;">Learn more</a>
			<a class="btn btn-primary btn-large" style="padding:15px;" href="signup/" >Sign up today &raquo;</a>
		</div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Social Inbox</h2>
          <p>Designed to improve and augment your existing email, Emailr will help you share content and interact with your friends without having to leave your inbox.</p>
        </div>
        <div class="span4">
          <h2>Your Contacts</h2>
          <p>Emailr is focused on bringing you the best possible experience when sharing and connecting with your friends, family, and other email contacts.</p>
       </div>
        <div class="span4">
          <h2>Try it out!</h2>
          <div class="well">
          <form action="" method="post">
		        <table>
		            {{ form.as_table }}
		        </table>
		        <input type="submit" class="btn btn-primary pull-right" value="Submit">
		    </form>
          </div>
        </div>
      </div>
{% endblock %}