{% extends 'base.html' %}

{% block title %}Emailr - Social Email{% endblock %}

{% block content %}
      <div class="hero-unit" style="background-color: whiteSmoke;">
        <h1>Emailr: Social without the Network</h1>
        <br/>
        <p>Emailr gives you all the benefits of a social network without having to leave the comfort of your inbox. Be free from the shackles of social networks and go back to the only one you've ever needed, <strong>Emailr</strong>.</p>
        <div>        
			<a class="btn btn-primary btn-large" style="padding:15px;" href="/signup/" >Sign up today &raquo;</a>
		</div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
      
      <div class="span4">
        <div class="well">
          <h2>Your Network</h2>
          <p>Emailr will never over-share your information. With a strong focus on privacy Emailr is designed for limited audiences and strong interpersonal interaction. You'll never be worried about over-sharing with strangers again.</p>
       </div>
        </div>
        
        <div class="span4">
          <div class="well">
          <h2>Shortcodes</h2>
          	Easy to remember shortcodes give our users the ability to share moments, pictures, and thoughts with their contacts like never before:<br/><br/>
          		<ul>
          			<li>r# - List of recipients to share with</li>
          			<li>* - Reply * or click to 'Star' your friend's post
          			<li>l# - A particularly interesting link</li>
          			<li>v# - A funny embeddable video!</li>
          			<li>pb# - A public share that might be seen by any of your contacts on Emailr</li>
          			<li>pr# - A public post with private replies only</li>
          		</ul>
          </div>
        </div>
        
        <div class="span4">
          <div class="well">
          <h2>Try it out!</h2>
          <form action="" method="post">
          	{{ csrf_token }}
		        <table>
		            <tbody>
		            <tr><th><label for="id_sender">Your email:</label></th><td><input disabled value="Sorry, we're not quite ready" type="text" name="sender" id="id_sender"></td></tr>
					<tr><th><label for="id_to">Friends' emails:</label></th><td><input disabled value=" to handle this amount of" type="text" name="to" id="id_to"></td></tr>
					<tr><th><label for="id_subject">Subject:</label></th><td><input disabled value="traffic right now..." id="id_subject" type="text" name="subject" maxlength="100"></td></tr>
					<tr><th><label for="id_message">Message:</label></th><td><input disabled value="Hack On!" type="text" name="message" id="id_message"></td></tr>
					
		        </tbody>		        </table>
		        <input type="submit" class="btn btn-primary pull-right" disabled value="Send Emailr">
		    </form>
          </div>
        </div>
      </div>
{% endblock %}