{% extends 'base.html' %}

{% block title %}Login to Emailr{% endblock %}

{% block content %}
<div class="hero-unit" style="background-color: whiteSmoke;" >
  <h1>Login to Emailr</h1>
  <p>Your social email experience awaits.</p>
  <p>
	<form class="form-horizontal" action="." method="post">
    {% csrf_token %}	
	  <div class="control-group">
	  	{{ form.email.errors }}
	    <label class="control-label" for="email">Email:</label>
	    <div class="controls">
	      {{form.email }}
	    </div>
	  </div>

	  	{{ form.password.errors }}
	  <div class="control-group">
	    <label class="control-label" for="password">Password:</label>
	    <div class="controls">
	      {{ form.password }}
	    </div>
	  </div>
		<div class="form-actions">
		  <a href="/"><button type="button" class="btn">Cancel</button></a>
		  <button type="submit" class="btn btn-primary">Login &raquo;</button>
		</div>
	  
	</form>
  </p>
</div>
      
{% endblock %}