{% extends 'base.html' %}

{% block title %}Emailr - Sign Up{% endblock %}

{% block content %}
<div class="hero-unit" style="background-color: whiteSmoke;" >
  <h1>Sign up for Emailr</h1>
  <p>Begin your social email experience today.</p>
  <p>
    <form class="form-horizontal" action="." method="post">
    {% csrf_token %}
	  <div class="control-group">
	    <label class="control-label" for="id_username">Email:</label>
	    <div class="controls">
	      {{form.username }}
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="id_password1">Password:</label>
	    <div class="controls">
	      {{ form.password1 }}
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="id_password2">Password confirmation:</label>
	    <div class="controls">
	      {{ form.password2 }}
	      <br/><small>Enter the same password as above, for verification.</small>
	    </div>
	  </div>

		<div class="form-actions">
		  <a href="/"><button type="button" class="btn">Cancel</button></a>
		  <button type="submit" class="btn btn-primary">Sign up &raquo;</button>
		</div>
	  
	</form>
  </p>
</div>
      
{% endblock %}