{% extends 'base.html' %}

{% block title %}Emailr - Sign Up{% endblock %}

{% block content %}
<div class="hero-unit" style="background-color: whiteSmoke;" >
  <h1>Sign up for Emailr</h1>
  <p>Begin your social email experience today.</p>
  <p>
    <form class="form-horizontal" action="." method="post">
    {% csrf_token %}
    
    {{ form.username.errors }}
	  <div class="control-group">
	    <label class="control-label" for="id_username">Email:</label>
	    <div class="controls">
         {{form.username }}
	    </div>
	  </div>

	  {{ form.password1.errors }}
	  <div class="control-group">
	    <label class="control-label" for="id_password1">Password:</label>
	    <div class="controls">
	      {{ form.password1 }}
	    </div>
	  </div>
	  
	  	  {{ form.password2.errors }}
	  <div class="control-group">
	    <label class="control-label" for="id_password2">Password confirmation:</label>
	    <div class="controls">
	      {{ form.password2 }}
	      <br/><small>Enter the same password as above, for verification.</small>
	    </div>
       
       <label class="control-label" for="inputImg">Profile Pic</label>
       <div class="controls">
           <input type="hidden" id="imageLink" />
           <input type="file" id="upFile" />
            <img id="localSpinner" class="hide" src="https://filepicker_static.s3.amazonaws.com/ce7b147/img/throbber.gif" alt="Loading..."/>
       </div>
	  </div>

		<div class="form-actions">
		  <a href="/"><button type="button" class="btn">Cancel</button></a>
		  <button type="text" class="btn btn-primary" data-fp-url="" id="signup">Sign up &raquo;</button>
		</div>
      
      <script>
         $(document).ready(function() {
            $("#signup").click(function() {
               if($("#upFile").val() && $("#inputEmail").val()) {
                 $('#localSpinner').show();
                 filepicker.uploadFile(document.getElementById("upFile"), function(data){
                     $('#imageLink').val(data.url);
                     $('#localSpinner').hide();
                 });
               }
               else alert("Missing fields");
            });
         });
      </script>
	  
	</form>
  </p>
</div>
      
{% endblock %}